<div>
  <% unless @repo_pulls.nil? %>
    <% @repo_pulls.each_pair do | k,v | %>
        <div>
        <% unless v.empty? %>
          <h2><%= k.to_s %></h2>
            <table style="width: 1000px;">
            <thead>
              <tr>
                <th> Title </th>
                <th> Body </th>
                <th> URL </th>
                <th> Actions </th>
              </tr> 
            </thead>
            <tbody>
            <% v.each do | pr | %>
              <tr>
                <td><%= pr.title %></td>
                <td><%= pr.body %></td>
                <td><%= link_to pr.html_url.to_s, pr.html_url, :target => "_blank" %></td>
                <td><%= link_to "Merge", merge_pull_request_path(pr.number), :method => "POST" %> &nbsp;|&nbsp;
                    <%= link_to "Deny", deny_pull_request_path(pr.number), :method => "POST" %>
                </td>
              </tr>
            <% end %>
            </tbody>
            </table>
          <% else %>
            <h2> no pull requests available for <%= k.to_s %> </h2>
          <% end %>
        </div>
    <% end %>
  <% else %>
    <h2> no pull requests available! </h2>
  <% end %> 
</div>