<%= form_for(@pull_request) do |f| %>
  <% if @pull_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pull_request.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @pull_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="pull_request_form form">
    <%= f.label :title %>
    <%= f.text_field :title %> <br />
    <%= f.label :body %>
    <%= f.text_field :body %> <br />
    <%= f.label :base, 'Base Branch' %>
    <%= f.select :base, @branches, {} %> <br />
    <%= f.label :head, 'Head Branch' %>
    <%= f.text_field :head, :value => 'master' %>
    <%= f.hidden_field :task_id, :value => @task.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :repo_name, :value => @project.repo_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
