<p id="notice"><%= notice %></p>

<div>
  <h2><%= @project.name %></h2>
  <p>Project description:</p>
  <p><%= @project.description %></p>
</div>

<div>
  <% if can? :create, @project.tasks.build %>
    <%= link_to 'Create a task', new_project_task_path(@project) %>
  <% end %>
  <%= link_to 'View tasks', project_tasks_path(@project) %>
</div>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
