<table>
<thead>
  <tr>
    <th> Project name </th>
    <th> Title </th>
    <th> Description </th>
    <th> Point Value </th>
    <th> Create pull request </th>
  </tr> 
</thead>
<tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.project.name %></td>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.point_value %></td>
    <td><%= link_to 'Pull Request', new_pull_request_path(:task_id => task) %></td>
  </tr>
<% end %>
</tbody>
</table>  