<!DOCTYPE html>
<html>
<head>
  <title>Ossc</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_container">
  <div class="flash_messages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div id="header_wrapper">
    <div class="user_stats">
    <% if user_signed_in? %>
      <span>Points:&nbsp; <%= current_user.rank.user_points %></span>
      <span>Rank:&nbsp; <%= current_user.rank.ranking %></span>
    <% end %>
    </div>
    <div class="login_information">
      <% if user_signed_in? %>
        <span>Logged in as: <%= current_user.email %></span> 
        <span><%= link_to 'Log Out', destroy_user_session_path, :method => 'DELETE' %>
      <% else %>
        <span><%= link_to 'Sign in', new_user_session_path %></span>
        <span><%= link_to 'Register an account', new_user_registration_path %></span>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
  <% if user_signed_in? %>
  <div id="header">
    <div class="main_nav">
      <%= link_to 'Home', '/dashboard' %>
      <%= link_to 'Projects', projects_path() %>
      <%= link_to 'My Projects', my_projects_projects_path() %>
      <%= link_to 'My Tasks', todo_index_path() %>
      <%= link_to 'Pull Requests', pull_requests_path() %>
      <%= link_to 'Leaderboard', '/leaderboard' %>
      <%= link_to "Link your account to Github", '/users/auth/github' %>
    </div>
    <div class ="preferences">
      <%= link_to "My Account", edit_user_registration_path %>
    </div>
  </div>
  <% end %>
  <div class="body_content">
    <%= yield %>
  </div>
</div>


</body>
</html>
